<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Spam Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/mystyle.css" %}'>
</head>

<body>
    <div id="bg">
        <h1>Spam Classifier</h1>
        <h2>Write your email here:</h2>
        <div class="container">
            {% if is_classified %}
                {% if is_spam %}
                    <img src="{% static 'images/akhanh.jpg' %}" id="hp" alt="uh oh, sth wrong">
                {% else %}
                    <img src="{% static 'images/akhang.jpg' %}" id="hp" alt="uh oh, sth wrong">
                {% endif %}
            {% else %}
                <img src="{% static 'images/akhang.jpg' %}" style="opacity:0" id="hp" alt="uh oh, sth wrong">
            {% endif %}
            <form method="POST">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            {% if is_classified %}
                {% if is_spam %}
                    <p id="is_spam">Your email is a spam</p>
                {% else %}
                    <p id="is_spam">Your email is not a spam</p>
                {% endif %}
            {% endif %}

        </div>

    </div>

</body>

</html>